<div class="navbar navbar-inverse">
  <form>
  <div class="form-group">
    <input type="text" class="form-control" id="toDoItem" placeholder="Add toDo">
  
  <button type="add" class="btn-add">Add</button>
  </form>

  <div class="checkbox">
    <label><input type="checkbox" value="">Option 1</label>
  
  <div class="checkbox">
    <label><input type="checkbox" value="">Option 2</label>

   <div class="checkbox">
    <label><input type="checkbox" value="">Option 3</label>
  
  
  </div>
  </div>
  </div>

</div>
