<%= form_with scope: :lists, local: true do |form| %>
  <p>
    <%= form.text_field :title %>
    <%= form.submit %>
  </p>   
<% end %>

<div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Option 1</label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" value="">Option 2</label>
  </div>
  
  <div class="checkbox">
    <label><input type="checkbox" value="">Option 3</label>
  </div>
</div>

