<div >
  <!--<form method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="toDoItem" placeholder="Add toDo">
      <button class="btn-add">Add</button>
    </div>  
  </form> -->

  <div class="checkbox">
    <label><input type="checkbox" value="">Option 1</label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" value="">Option 2</label>
  </div>
  
  <div class="checkbox">
    <label><input type="checkbox" value="">Option 3</label>
  </div>

</div>

