<nav class="navbar navbar-inverse">
  
  <div class="checkbox">
    <label><input type="checkbox" value="">Option 1</label>
  
  <div class="checkbox">
    <label><input type="checkbox" value="">Option 2</label>

   <div class="checkbox">
    <label><input type="checkbox" value="">Option 3</label>
  
  </div> 
  </div>
  </div>

<nav>
